sudo: false
dist: trusty
language: php

php:
    - 5.5
    - 5.6
    - 7.0
    - 7.1
    - nightly

matrix:
    fast_finish: true
    allow_failures:
        - php: hhvm
        - php: nightly
    include:
        - php: hhvm
          dist: trusty

before_script:
    - travis_retry composer self-update
    - travis_retry composer install --no-interaction

script:
    - composer test

cache:
    directories:
        - $HOME/.composer/cache
